<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      Compras del supermercado
      <ion-checkbox color="success" slot="end" (ionChange)="cambiarEstado()"></ion-checkbox>
    </ion-item>
    <ion-item>
      Compras del supermercado
      <ion-checkbox color="success" slot="end" (ionChange)="cambiarEstado()"></ion-checkbox>
    </ion-item>
    <ion-item>
      Compras del supermercado
      <ion-checkbox color="success" slot="end" (ionChange)="cambiarEstado()"></ion-checkbox>
    </ion-item>
    <ion-item>
      Compras del supermercado
      <ion-checkbox color="success" slot="end" (ionChange)="cambiarEstado()"></ion-checkbox>
    </ion-item>
    <ion-item>
      Compras del supermercado
      <ion-checkbox color="success" slot="end" (ionChange)="cambiarEstado()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
