<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Completas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item [button]="true">
      Compras del supermercado
      <ion-icon slot="end" color="success" name="checkbox-outline"></ion-icon>
    </ion-item>
    <ion-item button>
      Compras del supermercado
      <ion-icon slot="end" color="success" name="checkbox-outline"></ion-icon>
    </ion-item>
    <ion-item button>
      Compras del supermercado
      <ion-icon slot="end" color="success" name="checkbox-outline"></ion-icon>
    </ion-item>
    <ion-item button>
      Compras del supermercado
      <ion-icon slot="end" color="success" name="checkbox-outline"></ion-icon>
    </ion-item>
    <ion-item button>
      Compras del supermercado
      <ion-icon slot="end" color="success" name="checkbox-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
